.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.titleText {
	margin: 2rem 1rem 1rem 1rem;
	width: 100%;
	font-size: 1.6em;
	font-weight: bold;
}

.ratingInfoBoxContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
