.layout {
  min-height: 100vh;
  display: flex;
  background-color: var(--color-gray-50);
}

.container {
  flex: 1;
  padding: 1rem;
}

.page {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 2rem;

  & > * + * {
    margin-top: 2rem;
  }

  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: var(--color-gray-900);
  }

  section {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 1.5rem;

    h2 {
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 600;
      color: var(--color-gray-900);
      margin-bottom: 1rem;
    }
  }
}
