.container {
  margin: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .checkIcon {
    padding: 0.8rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--color-purple-200);
    color: var(--color-purple-600);
  }

  .textArea {
    margin: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    & > :first-child {
      font-weight: bold;
      font-size: 2em;
    }

    & > :last-child {
      font-size: 1.2em;
      color: var(--color-gray-500);
    }
  }

  .btnBox {
    background-color: var(--color-purple-500);
    width: 10rem;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    .goMainBtn {
      color: white;
    }
  }
}
