.container {
  margin: 2rem;
  padding: 2rem 4rem;
  width: 70%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--color-gray-200);

  .deadline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    .duedate {
      font-size: 3em;
      font-weight: bold;
    }
    .text {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      & > :first-child {
        font-weight: bold;
      }
    }
  }
  .applyBtn {
    background-color: var(--color-purple-700);
    padding: 0.8rem 2.7rem;
    color: white;
    border-radius: 8px;
    cursor: pointer;
  }
}
