.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.tableHead {
  display: grid;
  gap: 1.4rem;
  align-items: center;
  grid-template-columns: repeat(8, 1fr);
  border: 1px solid var(--color-gray-200);
  padding: 1.6rem 1.2rem;
  border-radius: 8px 8px 0 0;

  & > div {
    font-weight: bold;
    font-size: 1.2em;
  }
}

.recruitsBox > *:last-child {
  border-radius: 0 0 8px 8px;
}
