.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 4rem;
  background-color: #ffffff;
  border-top: 2px solid #e5e7eb;
  width: 100vw;
}

.links {
  display: flex;
  gap: 4rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.info {
  font-size: 1.125rem;
}
