.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.title {
  font-size: 1rem;
  color: var(--color-gray-500);
}

.number {
  font-size: 2rem;
  font-weight: 600;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding: 0.5rem;

  &.all {
    background-color: var(--color-purple-50);
    color: var(--color-purple-600);
  }

  &.reviewing {
    background-color: var(--color-blue-50);
    color: var(--color-blue-600);
  }

  &.interview {
    background-color: var(--color-green-50);
    color: var(--color-green-600);
  }

  &.accepted {
    background-color: var(--color-green-50);
    color: var(--color-green-600);
  }
}
