.container {
  width: 100%;
  padding: 1.5rem 1.75rem;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid var(--color-gray-200);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);

  > * + * {
    margin-top: 1.5rem;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-gray-900);
}

.content {
  display: flex;
}

.textRow {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.imageRow {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > * + * {
    margin-top: 1rem;
  }
}

.imageField {
  width: 180px;
  height: 180px;
  margin: 0 auto;
}

.imageWrapper {
  position: relative;
  width: 10rem;
  height: 10rem;
  background-color: var(--color-gray-100);
  border-radius: 0.5rem;
  overflow: hidden;
}

.image {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

.placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-400);
}
