.container {
  width: 100%;
  padding: 1.5rem 1.75rem;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid var(--color-gray-200);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);

  > * + * {
    margin-top: 1.5rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-gray-900);
}

.plusIcon {
  margin-right: 1rem;
}

.experienceWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--color-gray-200);
  border-radius: 10px;
  padding: 1.5rem 1.75rem;
}

.experienceHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.trashIcon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--color-red-500);
  cursor: pointer;
}

.experienceContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.nameAndSpot {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
