.skillTag {
  background-color: var(--color-gray-100);
  color: var(--color-gray-900);
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: 700;
}

.closeIcon {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;

  &:hover {
    color: var(--color-purple-600);
  }
}
